.dashboard-page {
  padding: 10px 0;
}

.article-view {
  .body-text {
    line-height: 1.8;
    color: #bab9b8;
    
    ::ng-deep p {
      margin-bottom: 1.5rem;
    }
  }
}

.article-header {
  border-bottom: 1px solid #3d3b38;
}

.article-featured-img-wrapper {
  max-height: 400px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #312e2b;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.related-item {
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    
    h4 {
      color: #81b64c !important;
    }
  }
}

.bg-dark-subtle {
    background-color: rgba(255, 255, 255, 0.02) !important;
}

.border-green-faint {
    border-color: rgba(129, 182, 76, 0.2) !important;
}

.smallest {
  font-size: 0.75rem;
}

@media (max-width: 992px) {
  .col-lg-4 {
    margin-top: 24px;
  }
}