<footer class="bg-dark text-white py-4 mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5><a href="https://www.funkyrobot.ca" class="text-white text-decoration-none" target="_blank" rel="noopener">FunkyRobot</a></h5>
          <p>Your premier DJ and Photo Booth service in the area.</p>
          <hr>
          <h5><a href="https://www.isellcomics.ca" class="text-white text-decoration-none" target="_blank" rel="noopener">iSellComics</a></h5>
          <p>My tiny little side hustle.</p>
        </div>

       
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home" class="text-white text-decoration-none">Home</a></li>
            <li><a routerLink="/about" class="text-white text-decoration-none">About Us</a></li>
            <li><a routerLink="/contact" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p><i class="fas fa-phone me-2"></i>{{profile.phone}}</p>
            <p><i class="fas fa-envelope me-2"></i><a href="mailto:carlos@funkyrobot.ca" class="text-white">{{profile.email}}</a></p>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p>&copy; 2026 {{profile.businessName}}. All rights reserved.</p>
      </div>
    </div>
  </footer>