<nav class="navbar navbar-expand-lg navbar-dark cool-navbar sticky-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Geek2Go.ca</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
        </ul>
        <div class="d-flex social-icons">
          <a href="https://www.fb.com/funkyrobot73" class="social-btn" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/funkyrobot73" class="social-btn" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://www.x.com/funkyrobot73" target="_blank" class="social-btn" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://www.chess.com/member/funkyrobot73" target="_blank" class="social-btn" aria-label="Chess.com Profile"><i class="fa-solid fa-chess-knight"></i></a>
          <a routerLink="/blogs" routerLinkActive="active" class="social-btn" aria-label="Blogs"><i class="fa-solid fa-blog"></i></a>
        </div>
      </div>
    </div>
  </nav>