.dashboard-page {
  padding: 10px 0;
}

.bg-dark-subtle {
    background-color: rgba(255, 255, 255, 0.02) !important;
}

.border-green-faint {
    border-color: rgba(129, 182, 76, 0.2) !important;
}

.package-card {
  .package-header {
    border-bottom: 1px solid #3d3b38;
    padding-bottom: 15px;
  }
  
  &.hoverable:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    border-color: rgba(129, 182, 76, 0.4);
  }
}

// Vertical Navigation in Sidebar
.nav-vertical-item {
    color: #bab9b8;
    transition: all 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.02) !important;

    &:last-child {
        border-bottom: none !important;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.05) !important;
        color: #fff;
    }

    &.active {
        background-color: rgba(129, 182, 76, 0.05) !important;
        color: #fff;
        box-shadow: inset 3px 0 0 #81b64c;
    }
}

.status-box {
    background-color: rgba(129, 182, 76, 0.05) !important;
}

.smallest {
  font-size: 0.75rem;
}
