<section class="hero-section mb-2">
    <div class="hero-image d-flex align-items-center">
      <div class="container text-white">
        <h1 class="display-3 fw-bold">Geek2Go.ca</h1>
        <p class="lead">IT Solutions in Aldershot & Burlington</p>
        <a routerLink="/contact" class="btn btn-primary btn-lg">Contact Now</a>
      </div>
    </div>
  </section>
  
  <section class="services mb-5">
    <div class="container">
      <h2 class="text-center mb-4">Our Services</h2>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body text-center">
              <i class="fa-brands fa-html5 mb-3 text-primary fa-3x fas"></i>
              <!-- <i class="fas fa-html5 fa-3x mb-3 text-primary"></i> -->
              <h3>Website & Wordpress</h3>
              <p>Simple Solutions.</p>
              <a routerLink="/dj-packages" class="btn btn-outline-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body text-center">
            <i class="fa-regular fa-circle-user mb-3 text-primary fa-3x fas"></i>
              <h3>SEO & Rankings</h3>
              <p>Help people find you.</p>
              <a routerLink="/photo-booth-packages" class="btn btn-outline-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body text-center">
              <i class="fas fa-solid fa-shield-virus fa-3x mb-3 text-primary"></i>
              
              <h3>Virus Protection </h3>
              <p>Avoid Problems before they start.</p>
              <a routerLink="/dj-packages" class="btn btn-outline-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body text-center">
              <i class="fas fa-solid fa-user-shield fa-3x mb-3 text-primary"></i>
              <h3>Security</h3>
              <p>Protect your Data.</p>
              <a routerLink="/photo-booth-packages" class="btn btn-outline-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body text-center">
              <i class="fas fa-solid fa-database fa-3x mb-3 text-primary"></i>
              <h3>Data Backup & Recovery</h3>
              <p>Simple Solutions for your Data.</p>
              <a routerLink="/dj-packages" class="btn btn-outline-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body text-center">
              <i class="fas fa-solid fa-microchip fa-3x mb-3 text-primary"></i>
              
              <h3>General Tech</h3>
              <p>I'm literally an Expert.</p>
              <a routerLink="/photo-booth-packages" class="btn btn-outline-primary">More info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="gallery-preview mb-5">
    <div class="container">
      <h2 class="text-center mb-4">Latest Articles</h2>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card">
            <img src="assets/ai-sample.jpg" class="card-img-top" alt="WebDev & AI Articles">
            <div class="card-body">
              <h3>WebDev & AI</h3>
              <a routerLink="/dj-gallery" class="btn btn-primary">View More</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card">
            <img src="assets/hard-sample.jpg" class="card-img-top" alt="Hardware Articles">
            <div class="card-body">
              <h3>Hardware & Hacks</h3>
              <a routerLink="/photo-booth-gallery" class="btn btn-primary">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>