// photo-booth-packages.component.scss
.package-card {
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }
  }
  
  .card-header {
    font-weight: 600;
  }
  
  .pricing-card-title {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .list-group-item {
    padding: 0.75rem 1.25rem;
  }
  
  .form-check {
    padding-left: 2em;
    margin-bottom: 0.5rem;
    
    &-label {
      width: 100%;
    }
  }
  
  .img-fluid {
    // max-height: 200px;
    object-fit: cover;
    width: 75%;
  }